<h2>Special Games Chat Page</h2>
<h3>
    Please read the rules, and watch the short video (TBA) before posting.
</h3>


<app-header></app-header>
<ul class="topnav">
<!--  <li><a [routerLink]="['/home']">Home</a></li>-->
<!-- <li><a [routerLink]="['/aboutus']">Help</a></li>-->
<!-- <li><a [routerLink]="['/posts']">Chat Room</a></li>-->
<!--  <li><a [routerLink]="['/list']">Latest Messages</a></li> -->
</ul>





<main>
<router-outlet></router-outlet>
<!-- A router outlet will emit an activate event any time a new component is being instantiated, and a deactivate event when it is being destroyed.
--></main>
