<!--{{data1}}-->
<h2>Welcome! </h2>


<h3>OOPS! Nothing here</h3>


<div class="myHeader">
  <p>At the moment I'm in pieces, TWO in fact! </p>
<p>Until I manage to pull myself together, <br></p>
<p>please check out both the CHAT ROOM (from the menu above)</p>
<p> and the HOME (Games Page) which you will find below</p>
</div>
<br><br>
<h3><a href="http://htmlmix.s3-website-eu-west-1.amazonaws.com/" color="white" target="_blank">HOME / GAMES</a></h3>
<h3><a href="https://forms.gle/wBr6Lc4Gt1difdBi9">Link to Survey</a></h3>


<!--<div class="row col-md-12 d-flex justify-content-center text-center">
    <div class="col-md-4"><a href="#words"><img src="images/words.png" height="100" width="200" alt="words"/></a></div>
    <div class="col-md-4"><a href="#numbers"><img src="images/numbers.png" height="100" width="200" alt="numbers"/></a></div>
    <div class="col-md-4"><a href="#skills"><img src="images/skills.png" height="100" width="200" alt="skills"/></a></div>
</div>-->
